#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav_buttons li {
    float: left;
}

.nav_buttons li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_buttons li a:hover {
    background-color: #111;
}

.nav_buttons #home_button:hover {
    background-color: lightskyblue;
}